# Name: Script Launcher
# Author: Kota Miura, Jan Eglinger, Johannes Schindelin
# Version: 0.1.0

Plugins>Examples, "Script Launcher Test (Groovy)", sc.fiji.script.Script_Launcher("jar:Hello_World.groovy")
Plugins>Examples, "Script Launcher Test (IJ1 Macro)", sc.fiji.script.Script_Launcher("jar:Hello_World.ijm")
Plugins>Examples, "Script Launcher Test (Javascript)", sc.fiji.script.Script_Launcher("jar:Hello_World.js")
Plugins>Examples, "Script Launcher Test (Python)", sc.fiji.script.Script_Launcher("jar:Hello_World.py")
